@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.main_container{
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
}